  <!--<app-banner></app-banner>-->

    <div class="testa1">
      <div>  <h3>Stato avanzamento lavori</h3>
        <br> 
      </div>
      <h6>Oggetto: <b style="color: wheat;">{{parametriDoc['oggetto']}}</b></h6>
      <h6>Committente: <b style="color: wheat;">{{parametriDoc['committente']}}</b></h6>
      <h6>Impresa: <b style="color: wheat;">{{parametriDoc['ditta']}}</b></h6>
      <h6>Direttore dei lavori: <b style="color: wheat;">{{parametriDoc['direttore']}}</b></h6>
      <h6>Importo del progetto : <b style="color: wheat;">{{parametriDoc['budget']}}</b></h6></div>
      <br>
        



<div class="table-responsive rounded">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th  sortBy="id" scope="col">N° </th>
      <th  sortBy="tariffa"scope="col">Data</th>
      <th sortBy="tariffa"scope="col">Cod. Tariffa</th>
      <th  sortBy="categoria" scope="col">Categoria Contabile</th>
      <th  sortBy="descrizione" scope="col">Descrizione</th>
      <th  style="width:6%" sortBy="percentuale" scope="col">%</th>
      <th  scope="col">Importo unitario %</th>
      <th scope="col">Importo totale</th>
      <th  scope="col">Importo totale %</th>
      <th  scope="col">Valore_parziale</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sal of sals" >
      <td>{{sal.cod_sal}}</td>
      <td>{{sal.data}}</td>
      <td>{{sal.tariffa}}</td>
      <td>{{sal.categoria}}</td>
      <td>{{sal.descrizione}}</td>
      <td>{{sal.percentuale}}</td>
      <td>{{sal.prezzo_perc}}</td>
      <td>{{sal.debito}}</td>
      <td>{{sal.debito_perc}}</td>
      <td>{{sal.v_parziale}}</td>
      
      
    </tr>
  </tbody>
</table>





<br>

<br>
<br>

<table class="table" >
    <thead class="thead-dark">
        <tr>
      <th  scope="col">N° </th>
      <th  scope="col">Data</th>
      <th scope="col">Cod. Tariffa</th>
      <th scope="col">Categoria Contabile</th>
      <th  scope="col">Descrizione</th>
      <th   sortBy="percentuale" scope="col">%</th>
      <th  scope="col">Importo unitario %</th>
      <th scope="col">Importo totale in €</th>
      <th  scope="col">Importo totale %</th>
      <th  scope="col">Valore_parziale in €</th>
        </tr>
    </thead>
    <tbody>
        <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1" >
            <i class="fa fa-plus" aria-hidden="true"></i>
            
        </tr>
    </tbody>

    <tbody id="group-of-rows-1" class="collapse">
        <tr *ngFor="let sal of sals">
           <td style="padding-left: 15px;">{{sal.cod_sal}}</td>
      <td>{{sal.data}}</td>
      <td>{{sal.tariffa}}</td>
      <td>{{sal.categoria}}</td>
      <td>{{sal.descrizione}}</td>
      <td>{{sal.percentuale}}</td>
      <td>{{sal.prezzo_perc}}</td>
      <td>{{sal.debito}}</td>
      <td>{{sal.debito_perc}}</td>
      <td>{{sal.v_parziale}}</td>
      
        </tr>
        
    </tbody>
    
    
</table>
</div>



<br>


<br>



