  <!--<app-banner></app-banner>-->

    <div class="testa1">
      <div>  <h3>Stato avanzamento lavori</h3>
        <br> 
      </div>
      <h6>Oggetto: <b style="color: wheat;">{{parametriDoc['oggetto']}}</b></h6>
      <h6>Committente: <b style="color: wheat;">{{parametriDoc['committente']}}</b></h6>
      <h6>Impresa: <b style="color: wheat;">{{parametriDoc['ditta']}}</b></h6>
      <h6>Direttore dei lavori: <b style="color: wheat;">{{parametriDoc['direttore']}}</b></h6>
      <h6>Importo del progetto : <b style="color: wheat;">{{parametriDoc['budget']}}</b></h6></div>
      <br>
        

<br>

<div *ngFor="let item of sals; let i = index" id="bottone">
    <a href="#List-{{ i }}" class="btn btn-info " id="bott" data-toggle="collapse">Approvazione Numero {{i+1}} <i id="arrow"class="fas fa-caret-square-down fa-2x"></i></a>
    
  <div class="table-responsive rounded">
    <table class="table" id="the">
        <thead class="thead-dark" >
      <tr id="List-{{ i }}" class="collapse">
      <th  scope="col">Data</th>
      <th scope="col">Cod. Tariffa</th>
      <th  scope="col">Categoria Contabile</th>
      <th  scope="col">Descrizione</th>
      <th  style="width:6%" scope="col">%</th>
      <th  scope="col">Importo unitario in €</th>
      <th  scope="col">Importo unitario %</th>
      <th scope="col">Importo totale in €</th>
      <th  scope="col">Importo totale %</th>
      <th  scope="col">Valore parziale in €</th>
    </tr>
  </thead>
    
       
    <tr id="List-{{ i }}" class="collapse" *ngFor="let a of item">
      <td> {{a.data}}</td>
      <td> {{a.tariffa}}</td>
      <td> {{a.categoria}}</td>
      <td> {{a.descrizione}}</td>
      <td> {{a.percentuale}}</td>
      <td> {{a.prezzo}}</td>
      <td> {{a.prezzo_perc}}</td>
      <td> {{a.debito}}</td>
      <td> {{a.debito_perc}}</td>
      <td> {{a.v_parziale}}</td>
    </tr>
  </table>
  </div>
</div>
