body{


    background-color: transparent;
    }
    table
{
    background-color:#F4F5F5;
    

  
  
  border-collapse: collapse;
  
  
  

    

}
    
    
    
    .approvata{
    
      background-color: #89E1C3;
      color: black;
    }
    
    .invalidata{
    
      background-color: #F18973;
      color: white;
    }
    
    
    
    .testa1{
    
       padding-left:15px;
       padding-right:15px;
       padding-top: 15px;
       font-size: 15px;
       color:white; 
       border: 2px solid rgb(240, 120, 120);
       background-color:rgba(221, 42, 66, 0.3);
       border-top-left-radius: 15px;
       border-bottom-left-radius: 15px;
    }

    
    
    th {
      border-left: 3px solid black;
      border-bottom: 6px solid black;
      
        padding:10px;
        margin-left:5px;
      }
        
      td {
        border-left: 3px solid black;
        
          padding:5px;
          margin-left:5px;
          vertical-align: center;
          border-bottom: 2px solid black;
          
          
          
      }
    


    /* fix = code from bootstrap 3 */
tbody.collapse.in {
  display: table-row-group;
}
    
    
table, tr, td, th
{
    border: 1px solid black;
    border-collapse:collapse;
}
tr.header2
{
    cursor:pointer;
}
    



    .container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}


.author_bio_toggle_wrapper    
{
        
}

.author_bio_wrap 
{
    margin-top: 0px;  
    margin-bottom: 30px; 
    background: red;
    width: auto; height: 50px;

}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#indice{

  background-color:red;
}