body{


background-color: transparent;
}

.testa1{

   padding-left:15px;
   padding-right:15px;
   padding-top: 15px;
   font-size: 15px;
   color:white; 
   border: 2px solid rgb(240, 120, 120);
   background-color:rgba(221, 42, 66, 0.3);
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
}
#table_operaio{

	font-size:13px;
	font-family: sans-serif;
}

#cont1{
background-color: #2A335C;
padding-left: 2%;
border-radius: 8px;	
color: white;
padding-bottom: 2%;
}
#cont2{
  margin-top: 2.5%;
  margin-bottom: 5%;
  background-color: rgb(43, 43, 43);
  padding-left: 2%;
  border-radius: 8px;	
  color: white;
  padding-bottom: 2%;
  }


table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  color: white;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}



