<body>
  <div class="testa1">
    <div>  <h3>Giornale dei lavori</h3>
      <br> 
    </div>
    <h6>Oggetto: <b style="color: wheat;">{{parametriDoc['oggetto']}}</b></h6>
    <h6>Committente: <b style="color: wheat;">{{parametriDoc['committente']}}</b></h6>
    <h6>Impresa: <b style="color: wheat;">{{parametriDoc['ditta']}}</b></h6>
    <h6>Importo del progetto : <b style="color: wheat;">{{parametriDoc['budget']}}</b></h6>
    </div>
    <br>

<div class="container" id="cont1">
<br>
<div class="row">
<div class="col">
  <h3>Dettagli Operai</h3>
  <br>

    <button *ngIf=can(inserisce) mat-raised-button type="button" class="btn btn-success" (click)="openDialog()"><i class="fas fa-plus fa-1x"></i> Nuovo Operaio</button>
  
<table class="ta" id="table_operaio">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 2%;">Data</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Qualifica</th>
      <th scope="col">Ore</th>
      <th scope="col">Riserva/Annotazioni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lavoro of lavori">
      <th scope="row">{{lavoro.data}}</th>
      <td>{{lavoro.nome}}</td>
      <td>{{lavoro.cognome}}</td>
      <td>{{lavoro.qualifica}}</td>
      <td>{{lavoro.ore}}</td>
      <!-- <td>{{lavoro.}}</td> -->
      <td></td>
    </tr>

  </tbody>
</table>
</div>
<div>
  </div>
</div>
</div>
<div class="container" id="cont2">
  <br>
<div class="row">
<div class="col">
  <h3>Attrezzatura</h3>
  <table class="ta" id="table_operaio">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 2%;">Data</th>
      <th scope="col">Tipologia</th>
      <th scope="col">Quantità</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let attrezzatura of attrezzature">
      <th scope="row">{{attrezzatura.data}}</th>
      <td>{{attrezzatura.tipologia}}</td>
      <td>{{attrezzatura.quantita}}</td>
    </tr>

  </tbody>
</table>

</div>
</div>

<br>
<br>
</div>

</body>