<body>
    <div class="testa1">
        <div>  <h4>Libretto delle Misure</h4> 
        </div>
        
        </div>
  <br>

<table class="table table-bordered table-striped ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">N° Ordine</th>
      <th scope="col">Cod. Tariffa</th>
      <th scope="col">Data</th>
      <th scope="col">Categoria Contabile</th>
      <th scope="col">Descrizione</th>
      <th scope="col">Percentuale</th>
      <th scope="col">Riserva/Annotazioni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let misure of misures">
      <th scope="row">{{misure.id}}</th>
      <td>{{misure.tariffa}}</td>
      <td>{{misure.data}}</td>
      <td>{{misure.categoria}}</td>
      <td>{{misure.descrizione}}</td>
      <td>{{misure.percentuale}}</td>
      <td>{{misure.riserva}}</td>
    </tr>
    
  
  </tbody>
</table>


</body>