<div id="tittle1">
  <!-- <button class="closee" mat-dialog-close>
         <span style="font-size: 150%"aria-hidden="true">&times;</span></button>   -->

  <h4>NUOVA MISURA</h4>
</div>

<br />
<br />
<table id="table1">
  <tr>
    <td><label>Categoria Contabile</label></td>
    <td>
      <select id="categoria" (change)="ShowSelected()">
        <option *ngFor="let categoria of categorias" [value]="categoria.id" >
          {{ categoria.name }}
        </option>
      </select>
    </td>
    <td><label> Disponibile:</label><label>{{accumulato}}%</label></td>
  </tr>
  <tr>
    <td><label>Descrizione</label></td>
    <td>
      <select id="lavoro" (change)="ShowSelected()">
        <!-- <option value="" selected disabled hidden>Choose here</option> -->
        <option *ngFor="let lavoro of lavori" [value]="lavoro.id" >
          {{ lavoro.name }}
        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td><label>Quantità Percentuale</label></td>
    <td>
      <form [formGroup]="form">
        <input
          formControlName="percent"
          id="q_percentuale"
          [(ngModel)]="percentuale"
          type="number"
          min="1"
          max="100"
          class="form-control form-control-sm"
          required
        />

        <div *ngIf="form.controls['percent'].hasError('max')">
          Max required number is {{accumulato}}.
        </div>
        <div *ngIf="form.controls['percent'].hasError('min')">
            Minimum required number is 1.
          </div>
      </form>
    </td>
  </tr>
  <tr>
    <td><label>Riserva/Annotazioni</label></td>
    <td>
      <textarea
        class="form-control"
        [(ngModel)]="riserva"
        aria-label="With textarea"
      ></textarea>
    </td>
  </tr>
</table>

<br />
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    mat-dialog-close
    data-dismiss="modal"
  >
    Chiudi
  </button>
  <button *ngIf="form.controls['percent'].valid"
    type="button"
    mat-button
    mat-dialog-close
    (click)="salva_misura()"
    class="btn btn-primary"
  >
    Salva
  </button>
</div>

<!--<mat-dialog-actions>-->

<!--</mat-dialog-actions>-->
