body {
    /*overflow-x: hidden;
    background-image:url("/src/assets/img/menu_img.jpg");
    */
    /*background-color: grey; */

    padding-left: 20px;
margin-left: 25px;

background-color: transparent;
  }
  .testa1{

    padding-left:15px;
    padding-top: 15px;
    font-size: 15px;
    color:white; 
    border: 2px solid rgb(240, 120, 120);
    background-color:rgba(221, 42, 66, 0.3);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
 }
 .grafico1{
  margin:auto; 
  background-color:white;
  padding-left: 10px;
  padding-top: 10px;
  

 }
 .container1{
  display:flex;
  margin: auto ;
  background-color: transparent;
  align-items:center;
 }