<head>

</head>

<body>

  <div class="testa1">
    <div>  <h3>Grafico</h3> 
      <br>
    </div>
    <h6>Oggetto: <b style="color: wheat;">{{parametriDoc.oggetto}}</b></h6>
    <h6>Committente: <b style="color: wheat;">{{parametriDoc.committente}}</b></h6>
    <h6>Impresa: <b style="color: wheat;">{{parametriDoc.ditta}}</b></h6>
    <h6>Importo del progetto : <b style="color: wheat;">{{parametriDoc.budget}}</b></h6>
    </div>
    <br>



<div class="container1">
  <canvas class="grafico1" id="lineChart" ></canvas>

</div>


  <!-- <canvas id="barChart"></canvas>
  <canvas id="pieChart"></canvas> -->

</body>