<header>


</header>
<body>
  <br>
  <br>
  <div class="container0">
<div class="container1">
 
<div class="blockf">
  <div class="blockd">
      <h2 class="tm-section-title">Welcome to the System</h2>
      <p>Benvenuto</p> 
      <p id="nome1" > </p>
      <p>prueba de texto para rellenar con otro texto, agregar algo de descripcion</p>   
  </div>                        
  <!--<i style="float:right;padding-top:30px;padding-right:100px;color:white;"class="far fa-handshake fa-7x"></i>-->
  <!--<i style="float:right;padding-top:30px;padding-right:100px;color:white;"class="far fa-grin-wink fa-7x"></i>-->
  <i style="float:right;padding-top:55px;padding-right:170px;color:white;"class="far fa-grin-wink fa-7x"></i>
  

</div>


</div>
</div>


  
<br>
<br>

<br>

<br>
<br>






</body>
