<head>

  

</head>

<body>
  <div style="text-align:center;border-bottom: 2px inset rgb(231, 202, 39);;color:rgb(231, 202, 39);"><h4>REGISTRO USER</h4> </div>
  <br>

  


  <form method="POST" action="http://localhost/mis_php/reg.php" id="modales">
   <table>

   <tr>
     <td><label>Ci</label>   </td>
     <td><input type="number" name="carnet"  required/> </td>
  </tr>  
  <tr>
     <td><label>Nome</label></td>
     <td><input type="text" class="form-control form-control-sm"name="nombre" required/></td>
  </tr>  
 <tr>
     <td><label>Cognome</label></td>
     <td><input type="text" class="form-control form-control-sm"name="ap_ps"  required/></td>
  </tr>
  <tr>
          <td><label>Codice Fiscale</label></td>
          <td><input type="text" class="form-control form-control-sm"name="cod_fis"  required/></td>
       </tr>
  <tr>
     <td><label>Data di nascita</label></td>
     <td><input type="date" class="form-control form-control-sm"name="data_na" required/></td>
</tr>
<tr>
          <td><label>Luogo di nascita</label></td>
          <td><input type="text" class="form-control form-control-sm"name="luogo_na" required/></td>
          
     </tr>
<tr>
            <td><label>CAP</label></td>
            <td><input type="number" class="form-control form-control-sm" name="usuario" required/></td>
               
 </tr>
 <tr>
          <td><label>Residenza</label></td>
          <td><input type="text"class="form-control form-control-sm" name="residenza" required/></td>
          
</tr>
<tr>
     <td><label>User</label></td>
     <td><input type="text" class="form-control form-control-sm" name="user" value="" required/></td>
     
</tr>
<tr>
     <td><label>Password</label></td>
     <td><input type="password" class="form-control form-control-sm"name="pass" required/></td>
</tr>
<tr>
     <td><label>Confirmar Contraseña</label></td>
     <td><input type="password" class="form-control form-control-sm"name="rpass" required/></td>
</tr>

       
  </table>  
  <br>
    
    <input type="submit" class="btn btn-outline-primary" style="float:center;"value="Guardar">
<button  class="btn btn-outline-primary">Save</button> 
<button style="margin-left:20px;" mat-button mat-dialog-close class="btn btn-outline-danger">Cancel</button>
      
    </form>

<!--<mat-dialog-actions>-->

<!--</mat-dialog-actions>-->
<input type="text" class="form-control form-control-sm" name="user" value="{{data.name}}" required/>


</body>
