<!--<app-banner></app-banner>-->
<body>
    <div class="testa1">
        <div>  <h4>Libretto delle Misure</h4> 
        </div>
        
        </div>
  <br>

<table class="table table-bordered table-striped ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">N° Ordine</th>
      <th scope="col">Cod. Tariffa</th>
      <th scope="col">Data</th>
      <th scope="col">Categoria Contabile</th>
      <th scope="col">Descrizione</th>
      <th scope="col">Quantità/Percentuale</th>
      <th scope="col">Riserva/Annotazioni</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
          <!-- <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
          </select> -->

          HOLA
      </td>
      <td>dataa </td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@fat</td>
      <td>@fat</td>
      <td>@fat</td>
    </tr>
     
  
  </tbody>
</table>

<!--fin de la table-->

<!--chiamare a view con dimensione piccola-->
<!--
<div class="w-50 h-25">
<app-graph></app-graph>
</div>
-->

<button mat-raised-button type="button" class="btn btn-danger" (click)="generare()"> prueba modal</button>
<br>
<br>
<button mat-raised-button type="button" class="btn btn-success" (click)="openDialog()"> prueba modal</button>

<br>

<input type="text" [(ngModel)]="user" id="usuario">

<br>

<select id="opcion1">
<option
*ngFor="let color of colors"
[value]="color.id"> {{color.name}} </option>
</select>

<input  type="text" value="{{prueba}}">
<input  type="text" [(ngModel)]="prueba">


<br>

</body>
