  <!--<app-banner></app-banner>-->
<body>
    <div class="testa1">
        <div>  <h3>Libretto delle Misure</h3>
          <br> 
        </div>
        <h6>Oggetto: <b style="color: wheat;">{{parametriDoc.oggetto}}</b></h6>
        <h6>Committente: <b style="color: wheat;">{{parametriDoc.committente}}</b></h6>
        <h6>Impresa: <b style="color: wheat;">{{parametriDoc.ditta}}</b></h6>
        <h6>Importo del progetto : <b style="color: wheat;">{{parametriDoc.budget}}</b></h6>
        </div>
        <br>
      


<div class="form-row align-items-center">
  <!-- <div class="col-auto my-1">
  <button mat-raised-button type="button" class="btn btn-primary" >Cerca</button>  
  </div>
  <div class="col-auto my-1">
  <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Scegli...</option>
        <option value="1">Approvati</option>
        <option value="2">Invalidati</option>
  </select>
  </div> -->

  <div class="col-auto my-1">
    <button  *ngIf=can(inserisce) mat-raised-button type="button" class="btn btn-success" (click)="openDialog()"><i class="fas fa-plus fa-1x"></i> Nuova Misura</button>
  </div>

</div>

<br>

<div class="table-responsive rounded">
  <table class="table">
  <thead class="thead-dark">
    <tr >
      <th [mdbTableSort]="misures" sortBy="id" scope="col">N° <mdb-icon fas icon="sort"></mdb-icon></th>
      <th [mdbTableSort]="misures" sortBy="tariffa"scope="col">Cod. Tariffa</th>
      <th [mdbTableSort]="misures" sortBy="data" scope="col">Data<mdb-icon fas icon="sort"></mdb-icon></th>
      <!-- <th [mdbTableSort]="misures" sortBy="data" scope="col">Approvata<mdb-icon fas icon="sort"></mdb-icon></th>
      <th [mdbTableSort]="misures" sortBy="data" scope="col">valida<mdb-icon fas icon="sort"></mdb-icon></th> -->
      <th [mdbTableSort]="misures" sortBy="categoria" scope="col">Categoria Contabile<mdb-icon fas icon="sort"></mdb-icon></th>
      <th [mdbTableSort]="misures" sortBy="descrizione" scope="col">Descrizione<mdb-icon fas icon="sort"></mdb-icon></th>
      <th [mdbTableSort]="misures" style="width:6%" sortBy="percentuale" scope="col">%<mdb-icon fas icon="sort"></mdb-icon></th>
      <th [mdbTableSort]="misures" scope="col">Riserva</th>
      <th [mdbTableSort]="misures" scope="col">Azioni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let misure of misures" [ngClass]="{'invalidata':!misure.valida,'approvata':misure.aprovata}">
      <td style="padding-left: 15px;">{{misure.id}}</td>
      <td>{{misure.tariffa}}</td>
      <td>{{misure.data}}</td>
      <!-- <td>{{misure.aprovata}}</td>
      <td>{{misure.valida}}</td> -->
      <td>{{misure.categoria}}</td>
      <td>{{misure.descrizione}}</td>
      <td>{{misure.percentuale}}</td>
      <td>{{misure.riserva}}</td>
      <td >

<button mat-raised-button *ngIf=can(approva) type="button" [hidden]="misure.approva_sal" class="btn btn-warning" id="approva" (click)="approvare(misure)" style="color:white;"  [ngClass]="{approva:misure.aprovata,invalida:!misure.valida}" ><i class="fas fa-check fa-1x"></i> Approvare</button> &nbsp;
<button type="button" *ngIf=can(invalida) [hidden]="misure.approva_sal" (click)="invalidare(misure)" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Invalidare!" [ngClass]="{approva:!misure.aprovata,invalida:!misure.valida}"><i class="far fa-trash-alt fa-1x"></i></button>
<button type="button" *ngIf=can(invalida) [hidden]="misure.approva_sal" (click)="invalidare(misure)" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Invalidare!" [ngClass]="{approva:misure.aprovata,invalida:!misure.valida}"><i class="far fa-trash-alt fa-1x"></i></button>



       </td>
    </tr>
  </tbody>
</table>
</div>

<!--fin de la table-->

<!--chiamare a view con dimensione piccola-->
<!--
<div class="w-50 h-25">
<app-graph></app-graph>
</div>
-->




<br>
<!-- 
<ag-grid-angular 
    style="width: 500px; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    rowSelection="single"



    >
</ag-grid-angular> -->


<br>
<br>
<!-- <table mdbTable hover="true">
  <thead class="black white-text">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let el of elements">
      <th scope="row">{{el.id}} </th>
      <td>{{el.first}}</td>
      <td>{{el.last}}</td>
      <td>{{el.handle}}</td>
    </tr>
  </tbody>
</table> -->

<br>


<br>


</body>
