<body>

  <br>
<div class="container">
<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th scope="col">N° Ordine</th>
      <th scope="col">Codice Tariffa</th>
      <th scope="col">Data</th>
      <th scope="col">Designazione Lavori</th>
      <th scope="col">Dimensioni</th>
      <th scope="col">Quantità/Percentuale</th>
      <th scope="col">Figure/Annotazioni</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
          <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
          </select>
      </td>
      <td>
          <app-calendar></app-calendar>
      </td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>

<br>

<button mat-raised-button type="button" class="btn btn-success" (click)="openDialog()"> prueba modal</button>

<br>

<input type="text" [(ngModel)]="user" id="usuario">

<br>

<select id="opcion1">
<option
*ngFor="let color of colors"
[value]="color.id"> {{color.name}} </option>
</select>

<input  type="text" value="{{prueba}}">
<input  type="text" [(ngModel)]="prueba">


<br>

</body>