  <!--<app-banner></app-banner>-->

  <div class="testa1">
    <div>  <h3>Registro di contabilità</h3>
      <br> 
    </div>
    <h6>Oggetto: <b style="color: wheat;">{{parametriDoc.oggetto}}</b></h6>
    <h6>Committente: <b style="color: wheat;">{{parametriDoc.committente}}</b></h6>
    <h6>Impresa: <b style="color: wheat;">{{parametriDoc.ditta}}</b></h6>
    <h6>Importo del progetto : <b style="color: wheat;">{{parametriDoc.budget}}</b></h6>
    </div>
    <br>
        




 <div class="row">
<div class="col-10" style="text-align: center;">
  




<br>
<div class="progress" style="height: 40px;">
  <div class="progress-bar" [style.width]="parziale_perc + '%'">

      
   <span>{{parziale_perc}}%</span>
  </div>
  </div>

</div>
</div>
<br>
<br>
<div class="table-responsive rounded">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <!-- <th [mdbTableSort]="misures" sortBy="id" scope="col">N° <mdb-icon fas icon="sort"></mdb-icon></th> -->
      <th  scope="col">Cod.Tariffa</th>
      <!-- <th [mdbTableSort]="registros" sortBy="data" scope="col">Data<mdb-icon fas icon="sort"></mdb-icon></th> -->
      <!-- <th [mdbTableSort]="misures" sortBy="data" scope="col">Approvata<mdb-icon fas icon="sort"></mdb-icon></th>
      <th [mdbTableSort]="misures" sortBy="data" scope="col">valida<mdb-icon fas icon="sort"></mdb-icon></th> -->
      <th  scope="col">Categoria Contabile</th>
      <th  scope="col">Descrizione</th>
      <th   sortBy="percentuale" scope="col">%</th>
      <th  scope="col">Prezzo in €</th>
      <th  scope="col">Prezzo(%)</th>
      <th  scope="col">Debito in €</th>
      <th  scope="col">Debito(%)</th>
      <!-- <th  scope="col">Azione</th> -->
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let registro of registros">
      <!-- <td style="padding-left: 15px;">{{misure.id}}</td> -->
      <td>{{registro.tariffa}}</td>
      <!-- <td>{{registro.data}}</td> -->
      
      <td>{{registro.categoria}}</td>
      <td>{{registro.descrizione}}</td>
      <td>{{registro.percentuale}}</td>
      <td>{{registro.prezzo}}</td>
      <td>{{registro.prezzo_perc}}</td>
      <td>{{registro.debito}}</td>
      <td>{{registro.debito_perc}}</td>
      <!-- <td>
<button *ngIf=can(approva) mat-raised-button type="button" class="btn btn-warning" (click)="approvare(registro)" style="color:white;"><i class="fas fa-check-double fa-1x"></i> Approvare</button> &nbsp;
<button *ngIf=can(invalida)  type="button"  (click)="invalidare(registro)" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Invalidare!"><i class="far fa-trash-alt fa-1x"></i></button>


       </td> -->
    </tr>
  </tbody>
</table>

</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Confirmazione</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Sei sicuro di approvare il Registro?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)="salva_sal()" class="btn btn-success" data-dismiss="modal">Conferma</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
        </div>
        
      </div>
    </div>
  </div>



<br>

<div class="col-4" style="text-align: left;">
  <button type="button" [disabled]="s_superata$| async" class="btn btn-warning"  style="color:white;" data-toggle="modal" data-target="#myModal" ><i class="fas fa-check-double fa-1x"></i> Approvare</button> 
  </div>
<!-- 
<ag-grid-angular 
    style="width: 500px; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    rowSelection="single"



    >
</ag-grid-angular> -->


<br>
<br>
<!-- <table mdbTable hover="true">
  <thead class="black white-text">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let el of elements">
      <th scope="row">{{el.id}} </th>
      <td>{{el.first}}</td>
      <td>{{el.last}}</td>
      <td>{{el.handle}}</td>
    </tr>
  </tbody>
</table> -->

<br>


<br>

