  <!--<app-banner></app-banner>-->
<body>
    <div class="testa1">
        <div>  <h4>Registro di contabilità</h4> 
        </div>
        
        </div>
        <br>
        <br>

<button mat-raised-button type="button" class="btn btn-danger" (click)="genera_registro()"> GENERARE TABLE</button>
<br>
<br>

<!-- <div class="form-row align-items-center">
  <div class="col-auto my-1">
  <button mat-raised-button type="button" class="btn btn-primary" >Cerca</button>  
  </div>
  <div class="col-auto my-1">
  <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="1">Approvati</option>
        <option value="2">Invalidati</option>
  </select>
  </div>

  <div class="col-auto my-1">
    <button mat-raised-button type="button" class="btn btn-success" (click)="openDialog()"><i class="fas fa-plus fa-1x"></i> Nuova Misura</button>
  </div>

</div> -->

<br>


<table  class="table table-striped" mdbTable style="text-align:center;" >
  <thead class="thead-dark">
    <tr>
      <!-- <th [mdbTableSort]="misures" sortBy="id" scope="col">N° <mdb-icon fas icon="sort"></mdb-icon></th> -->
      <th [mdbTableSort]="registros" sortBy="tariffa"scope="col">Cod.Tariffa</th>
      <!-- <th [mdbTableSort]="registros" sortBy="data" scope="col">Data<mdb-icon fas icon="sort"></mdb-icon></th> -->
      <!-- <th [mdbTableSort]="misures" sortBy="data" scope="col">Approvata<mdb-icon fas icon="sort"></mdb-icon></th>
      <th [mdbTableSort]="misures" sortBy="data" scope="col">valida<mdb-icon fas icon="sort"></mdb-icon></th> -->
      <th [mdbTableSort]="registros" sortBy="categoria" scope="col">Categoria Contabile</th>
      <th [mdbTableSort]="registros" sortBy="descrizione" scope="col">Descrizione</th>
      <th [mdbTableSort]="registros" style="width:6%" sortBy="percentuale" scope="col">Percentuale %</th>
      <th [mdbTableSort]="registros" scope="col">Prezzo(%)</th>
      <th [mdbTableSort]="registros" scope="col">Debito</th>
      <th [mdbTableSort]="registros" scope="col">Debito(%)</th>
      <th  scope="col">Azione</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let registro of registros" [ngClass]="">
      <!-- <td style="padding-left: 15px;">{{misure.id}}</td> -->
      <td>{{registro.tariffa}}</td>
      <!-- <td>{{registro.data}}</td> -->
      
      <td>{{registro.categoria}}</td>
      <td>{{registro.descrizione}}</td>
      <td>{{registro.percentuale}}</td>
      <td>{{registro.prezzo_perc}}</td>
      <td>{{registro.debito}}</td>
      <td>{{registro.debito_perc}}</td>
      <td>
<button *ngIf=can(approva) type="button" class="btn btn-warning" (click)="approvare(registro)" style="color:white;"><i class="fas fa-check-double fa-1x"></i> Approvare</button> &nbsp;
<button *ngIf=can(invalida) type="button"  (click)="invalidare(registro)" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Invalidare!"><i class="far fa-trash-alt fa-1x"></i></button>


       </td>
    </tr>
  </tbody>
</table>

<!--fin de la table-->

<!--chiamare a view con dimensione piccola-->
<!--
<div class="w-50 h-25">
<app-graph></app-graph>
</div>
-->




<br>
<!-- 
<ag-grid-angular 
    style="width: 500px; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    rowSelection="single"



    >
</ag-grid-angular> -->


<br>
<br>
<!-- <table mdbTable hover="true">
  <thead class="black white-text">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let el of elements">
      <th scope="row">{{el.id}} </th>
      <td>{{el.first}}</td>
      <td>{{el.last}}</td>
      <td>{{el.handle}}</td>
    </tr>
  </tbody>
</table> -->

<br>


<br>


</body>