#tittle1{

background-color: rgb(22, 22, 98);
padding-top:15px;
text-align:center;
border-bottom: 2px inset rgb(231, 202, 39);
color:rgb(255, 255, 255);


}

#table1{

    margin-left: 28px;
    
}
#table1 tr td {

padding-bottom: 8px;

}
#table1 tr td label{

    font-family: Calibri;

}

#col2{

width: 15%;
}
#col1{
width: 10%;
}

#col3{
width: 12%;
}
#col4{
width: 30%;
}
#close{

width: 20%;
}
#save{
width: 20%;
}


.closee{
    
    border: 1px rgb(22, 22, 98) solid;
    margin-left: auto;
    display:flex;
    color:white;
    background-color:transparent

}


#table1 tr td input{
     border-radius: 6px;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top:10px;
    /*padding-bottom:2px;*/
    border-top: 1px solid #b3adad;
    
}

#op{
    text-align:center;

}

#divOp{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 5px;
        margin:5px;
}

#divEl{
    background-color:rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    margin:5px;
    

}

#tipologia{
    width: 80%;height: 35px;
}

#tex{
    width: 80%;height: 100px;
}

#bott{
    color:black;
    border-color:black;
    background-color: #f7f7f7;
    width:100%;
    text-align: left;
    
  }
  
  #bottone{
    
    border-color:black;
  }
  
  #arrow{
    float: right;
  }

