<div id="tittle1">
  <!-- <button class="closee" mat-dialog-close>
         <span style="font-size: 150%"aria-hidden="true">&times;</span></button>   -->

  <h4>NUOVA VOCE</h4>
</div>

<div class="row" style="margin:4%;">
  <div
    class="col" id="divOp" >
    <h6 id="op">Nuovo Operaio</h6>
    <br>
    <table id="table1">
      <tr>
        <td id="col1"><label>Nome</label></td>
        <td id="col2">
          <input
            id="q_percentuale"
            [(ngModel)]="nome"
            type="text"
            class="form-control form-control-sm"
            required
          />
        </td>

        <!-- <td style="width: 5%;">
      <button
        type="button"
        class="btn btn-success"
        mat-dialog-close
        data-dismiss="modal"
      >
        <i class="fas fa-plus fa-1x"></i>
      </button>
    </td> -->
      </tr>
      <tr>
        <td id="col1"><label>Cognome</label></td>
        <td id="col2">
          <input
            id="q_percentuale"
            [(ngModel)]="cognome"
            type="text"
            class="form-control form-control-sm"
            required
          />
        </td>
      </tr>
      <tr>
        <td id="col1"><label>Qualifica</label></td>
        <td id="col2">
          <select
            [(ngModel)]="opQual"
            id="qualifica"
            style="width: 100%;height: 35px;"
          >
            <option *ngFor="let qualifica of qualifiche" [ngValue]="qualifica">
              <!-- (qualificaId)="(qualifica.id_qualifica)" -->

              {{ qualifica.nome_qual }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>Data</label></td>
        <!-- <td><input type="date" ngbDatepicker [(ngModel)]="date"/></td> -->
        <td id="col2">
          <mat-form-field>
            <input
              [max]="maxDate"
              [formControl]="today"
              id="data_picker"
              matInput
              [matDatepicker]="picker"
              placeholder="Choose a date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td id="col1"><label>Ore di Presenza</label></td>
        <td id="col2">
          <select id="ore_presenza" style="width: 55%;height: 35px;">
            <option *ngFor="let ora of ore" [value]="ora.number">
              {{ ora.number }}
            </option>
          </select>
        </td>
      </tr>
    </table>

    <div class="modal-footer">
      <button
        id="save"
        type="button"
        mat-button
        mat-dialog-close
        (click)="salva_operaio()"
        class="btn btn-primary"
      >
        Salva
      </button>
    </div>
  </div>

<div class="col"  id="divOp">
  

<div  id="bottone">
    <a href="#List1" class="btn btn-info " id="bott" data-toggle="collapse">Nuova Descrizione <i id="arrow"class="fas fa-caret-square-down"></i></a>
    
  <div class="rounded">
    <div id="List1" class="collapse">
      <div class="col" id="divEl">




   <label>Descrizione Locazione</label>
   <form [formGroup]="form">
    <textarea
      formControlName="desc"
      [(ngModel)]="descrizione"
      class="form-control form-control-sm"
      id="tex"
    ></textarea>
    <div *ngIf="form.controls['desc'].hasError('required')">
      Inserire una descrizione
    </div>
  </form>

  <br />
  <div *ngIf="form.controls['desc'].valid" class="">
    <button
      id="save"
      type="button"
      mat-button
      mat-dialog-close
      (click)="salva_des()"
      class="btn btn-primary"
    >
      Salva
    </button>
  </div>

    <br />
    <br />



    </div>
    </div>
    </div>
    </div>
    <!-- descrizione -->

<!-- <div class="showMe" style="display:none"> -->
  <br>
  
<div  id="bottone">
    <a href="#List" class="btn btn-info " id="bott" data-toggle="collapse">Nuova Attrezzatura <i id="arrow"class="fas fa-caret-square-down"></i></a>
    
  <div class=" rounded">
    <div id="List" class="collapse">
             
  <div id="divEl">
 

  <label>Attrezzatura</label>
  <select id="tipologia">
        <option *ngFor="let names of attre" [value]="names.nome_attr">
          {{ names.nome_attr }}
        </option>
      </select>
  <br>
  <label>Quantità</label>
  <form [formGroup]="form">
    <input
    formControlName="quantita"
      style="width: 50%;"
      type="number"
      id="quantita"
      [(ngModel)]="quantita"
      
      class="form-control form-control-sm"
      required
    />
    <div *ngIf="form.controls['quantita'].hasError('required')">
      Inserire una quantità
    </div>
  </form>
  <div class="">
    <br />
    <button
    *ngIf="form.controls['quantita'].valid"
      id="save"
      type="button"
      mat-button
      mat-dialog-close
      (click)="salva_attrezza()"
      class="btn btn-primary"
    >
      Salva
    </button>
  </div>
</div>

    </div>
  </div>


</div>








</div>




<div class="w-100"></div>





  <div class="w-100"></div>
</div>

<div class="modal-footer">
  <button
    id="close"
    type="button"
    class="btn btn-secondary"
    mat-dialog-close
    data-dismiss="modal"
  >
    Close
  </button>
</div>



