<head> </head>

<body>
  <div
    style="text-align:center;border-bottom: 2px inset rgb(231, 202, 39);;color:rgb(231, 202, 39);"
  >
    <h4>DATI NUOVO UTENTE</h4>
  </div>
  <br />

  <form method="POST" action="http://localhost/mis_php/reg.php" id="modales">
    <table>
      <!-- <tr>
     <td><label>Ci</label>   </td>
     <td><input id="ci" type="number" name="carnet"  value="{{data.ci}}"required/> </td>
  </tr>   -->
      <tr>
        <td><label>Nome</label></td>
        <td>
          <input
            id="nome"
            type="text"
            class="form-control form-control-sm"
            name="nombre"
            required
          />
        </td>
      </tr>
      <tr>
        <td><label>Cognome</label></td>
        <td>
          <input
            id="cognome"
            type="text"
            class="form-control form-control-sm"
            name="ap_ps"
            required
          />
        </td>
      </tr>
      <tr>
        <td><label>Codice Fiscale</label></td>
        <td>
          <input
            id="cod_fis"
            type="text"
            class="form-control form-control-sm"
            name="cod_fis"
            required
          />
        </td>
      </tr>
      <tr>
        <td><label>Data di nascita</label></td>
        <td>
          <input
            id="d_nasci"
            type="date"
            class="form-control form-control-sm"
            name="data_na"
            required
          />
        </td>
      </tr>
      <tr>
        <td><label>Luogo di nascita</label></td>
        <td>
          <input
            id="l_nasci"
            type="text"
            class="form-control form-control-sm"
            name="luogo_na"
            required
          />
        </td>
      </tr>
      <tr>
        <td><label>CAP</label></td>
        <td>
          <input
            id="cap"
            type="number"
            class="form-control form-control-sm"
            name="usuario"
            required
          />
        </td>
      </tr>
      <tr>
        <td><label>Residenza</label></td>
        <td>
          <input
            id="resid"
            type="text"
            class="form-control form-control-sm"
            name="residenza"
            required
          />
        </td>
      </tr>
      <tr>
        <td id="col1"><label>Tipo Utente</label></td>
        <td>
          <select
            [(ngModel)]="ruolo"
            [ngModelOptions]="{ standalone: true }"
            style="width: 100%;height: 35px;"
          >
            <option *ngFor="let tipo of tipi" [ngValue]="tipo">
              <!-- (qualificaId)="(qualifica.id_qualifica)" -->

              {{ tipo.nome_tipo }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>User</label></td>
        <td>
          <input
            id="user"
            type="text"
            class="form-control form-control-sm"
            name="user"
            required
          />
        </td>
      </tr>
      <tr>
        <td><label>Password</label></td>
        <td>
          <input
            id="pass"
            type="password"
            class="form-control form-control-sm"
            name="pass"
            required
          />
        </td>
      </tr>
    </table>

    <br />
    <div class="boton">
      <input
        type="submit"
        class="btn btn-outline-primary"
        style="float:center;"
        (click)="save()"
        value="Salva"
      />
      <!--<button  class="btn btn-outline-primary">Save</button>  -->
      <button
        style="margin-left:20px;"
        mat-button
        mat-dialog-close
        class="btn btn-outline-danger"
      >
        Annulla
      </button>
    </div>
  </form>

  <!--<mat-dialog-actions>-->

  <!--</mat-dialog-actions>-->
</body>
